html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  max-width: 1080px;
  padding: 0 30px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  padding: 10px 0 24px 8px;
}

.header-bin {
  padding: 6px 10px 0 0;
}

.ellipse {
  position: relative;
  left: 24px;
  z-index: -1;
}

.cart {
  position: relative;
  left: -11px;
  top: 10px;
}

.slider {
  max-width: 100%;
  position: relative;
  margin: auto;
  margin-bottom: 15px;
}

.slider .item img {
  object-fit: contain;
  width: 100%;
  border: none !important;
  box-shadow: none !important;
}

.slider .prev,
.slider .next {
  cursor: pointer;
  position: absolute;
  background: #EDF3FF;
  border: 1px solid rgba(0, 0, 0, 0);
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.slider .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slider .prev:hover,
.slider .next:hover {
  background-color: #ccc;
}

.banner-info {
  position: absolute;
  color: #FFF;
  text-shadow: black 0 0 10px;
  font-size: 72px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.banner-info .info-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-info.black {
  color: black;
  text-shadow: white 0 0 10px;
}

.banner-info.special-1 {
  align-items: flex-start;
}

.banner-info.special-2 {
  align-items: flex-start;
  justify-content: start;
  padding-top: 130px;
}

.banner-info.special-3 {
  align-items: center;
  justify-content: flex-start;
}

.special-3 .info-column {
  margin-top: 50px;
}

.special-3 .info-column .btn-banner {
  margin-top: 100px;
}

.btn-banner {
  margin-top: 22px;
  padding: 14px 25px;
  font-size: 20px;
  color: #E5E5E5;
  background-color: #0E49B5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.slider-dots {
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #ddd;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #aaa;
}

.slider .item {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.item.black {}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

.search {
  margin-top: 32px;
  position: relative;
}

.inp-search {
  width: 100%;
  height: 60px;
  height: 60px;
  padding-left: 68px;
  border-radius: 5px;
  border: 1px solid #DDDADA;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

.logo-search {
  position: absolute;
  left: 3%;
  top: 35%;
  cursor: pointer;
}

.logo-filter {
  position: absolute;
  right: 7%;
  top: 16%;
  cursor: pointer;
}

.logo-sort {
  position: absolute;
  right: 2%;
  top: 16%;
  cursor: pointer;
}

.search-banner {
  width: 287px;
  height: 108px;
  background: #FFFFFF;
  border: 1px solid #E2E2E2;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: none;
}

.search-content {
  display: flex;
  padding: 14px 0 0 18px;
}

.block-search input {
  width: 70%;
}

.footer-banner {
  background: #EDF3FF;
  border-radius: 0px 0px 5px 5px;
  margin-top: 10px;
}

.container {
  margin: 34px 0 34px 0;
  display: flex;
  flex-direction: row;
}

.items {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: space-between;
  grid-gap: 30px;
}

.item-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 300px;
  min-height: 480px;
  border: 1px solid #E0E0E0;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
}

.like-img {
  position: absolute;
  top: 18px;
  right: 18px;
  cursor: pointer;
}

.img-card {
  padding: 14px 50px 0 50px;
}

.check-img {
  position: relative;
  margin: 10px 0 10px 0;
  display: flex;
  align-items: center;
}

.check-img .text {
  padding-left: 5px;
}


.card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 14px 20px 14px;
}

.card-info h3 {
  font-size: 24px;
  font-weight: bold;
}


.str-text {
  font-weight: bold;
}

.card-info .card-btn {
  padding: 14px 25px;
  margin: 11px 0 0 0;
  font-size: 14px;
  color: #E5E5E5;
  background-color: #0E49B5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card-btn.disabled {
  color: white;
  background: #DDDDDD;
}

.stats-card {
  background: #DAE2EA;
  display: flex;
  padding-top: 19px;
  height: 86px;
}

.stats-text {
  width: 190px;
  display: flex;
  flex-direction: column;
}

.like-stats-img {
  padding: 3px 12px 0 14px;
}

.orders {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.color-txt-info {
  color: #767272;
  font-size: 14px;
}

.color-txt-stats {
  color: #3B3E66;
  font-size: 14px;
  line-height: 20px;
}

.accordion-filters {
  margin-right: 55px;
  margin-right: 55px;
  height: fit-content;
  max-width: min-content;
}

.accordion {
  background: #EDF3FF;
  cursor: pointer;
  padding: 18px;
  width: 250px;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\276F';
  font-size: 13px;
  color: black;
  float: right;
  margin-left: 5px;
  transition: transform 0.3s;
}

.accordion.active::after {
  /* content: "\142F"; */
  transform: rotate(90deg);
  color: black;
}

.accordion.active {
  background-color: white;
}

.accordion-wrap {
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #a2a2a270;
  overflow: hidden;
}

.panel {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-bottom: 1px solid #DDDDDD;
  border-top: 1px solid #DDDDDD;
}

.panel-content {
  padding: 23px 30px;
}

.input-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 17px;
}

.input-block span {
  font-size: 14px;
}

.input-block:last-child {
  padding: 0;
}


.input-block input {
  width: 60%;
  line-height: 24px;
  background: #FFFFFF;
  border: 1px solid #E2E2E2;
  border-radius: 5px;
}

.colors,
.memory {
  display: flex;
  flex-wrap: wrap;
}

.colors .checkbox-block,
.memory .checkbox-block {
  width: 50%;
}


.checkbox-block {
  display: flex;
  flex-wrap: wrap;
  user-select: none;
  padding-bottom: 19px;
}

.checkbox-block label {
  cursor: pointer;
  padding-left: 14px;
  font-size: 14px;

}

.checkbox-block input {
  cursor: pointer;
  opacity: 0;
  position: absolute;
  width: 15px;
  height: 15px;
}

.checkmark {
  border: 1px solid #E2E2E2;
  height: 15px;
  width: 15px;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
  background-color: white;
}

.checkbox-block input:checked~.checkmark:after {
  display: block;
}

.checkbox-block:hover input~.checkmark {
  background-color: #C4C4C4;
}

.checkbox-block input:checked~.checkmark {
  background-color: #DAE2EA;
}

.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.65);
  top: 0;
  left: 0;
}

.modal.closed {
  display: none;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  background: white;
  transform: translate(-50%, -50%);
  width: 1020px;
  height: 491px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
}

.modal-img {
  padding: 0 30px;
}

.modal-img img {
  height: 250px;
  width: 250px;
  max-width: none;
}

.modal-info {
  height: 100%;
  align-self: flex-start;
  padding: 35px 65px 0px 75px;
  border-left: 1px solid #E2E2E2;
  border-right: 1px solid #E2E2E2;
}

.modal-info h4 {
  font-size: 24px;
  color: #3B3E66;
  font-weight: bold;
}

.modal-stats {
  position: relative;
  background: #DAE2EA;
  border-radius: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 19px 0 29px 0;
  margin-top: 29px;
}

.modal-stats-card {
  width: 300px;
  border-radius: 10px;
  margin-top: 20px;
}

.about-descr {
  display: flex;
  flex-direction: column;
  margin-top: 29px;
}

.about {
  padding-bottom: 15px;
  font-size: 14px;
  color: #767272;
}

.about-text {
  color: black;
  padding-left: 5;
}


.modal-price {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3B3E66;
}

.price {
  padding-bottom: 23px;
  font-size: 36px;
  font-weight: bold;
}

.modal-str-text {
  font-size: 14px;
  color: #3B3E66;
}

.txt-price {
  font-weight: bold;
  color: #3B3E66;
}

.btn-modal {
  margin-top: 31px;
  padding: 13px 26px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  background-color: #0E49B5;
}


@media screen and (max-width: 1020px) {
  .items {
    justify-content: space-evenly;
  }
}