.banner-search-filter {
  width: 287px;
  height: auto;
  background: #ffffff;
  border: 1px solid #e2e2e2;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  position: absolute;
  top: $search-height + 8px;
  right: 0;
  z-index: 2;
  display: none;

  &.show {
    display: block;
  }

  .search-content {
    display: flex;
    padding: 14px 0 0 18px;
  }

  .block-search {
    margin-right: 30px;

    .select-title {
      color: #0E49B5;
      font-size: 14px;
    }

    .custom-select-container {
      width: 100px;
    }

  }

  .footer-banner {
    background: #edf3ff;
    border-radius: 0px 0px 5px 5px;
    margin-top: 10px;
    padding: 5px 0 6px 0;
    display: flex;
    justify-content: center;

    .btn-filter {
      background: #0E49B5;
      cursor: pointer;
      border-radius: 5px;
      font-size: 14px;
      border: none;
      color: #E5E5E5;
      padding: 4px 24px;
    }
  }
}