.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.65);
  top: 0;
  left: 0;

  &.closed {
    display: none;
  }

  .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    background: white;
    transform: translate(-50%, -50%);
    width: 1020px;
    height: 491px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
  }

  .modal-img {
    padding: 0 30px;
  }

  .modal-img img {
    height: 250px;
    width: 250px;
    max-width: none;
  }

  .modal-info {
    height: 100%;
    align-self: flex-start;
    padding: 35px 65px 0px 75px;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
  }

  .modal-info h4 {
    font-size: 24px;
    color: #3b3e66;
    font-weight: bold;
  }

  .modal-stats {
    position: relative;
    background: #dae2ea;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 19px 0 29px 0;
    margin-top: 29px;
  }

  .modal-stats-card {
    width: 300px;
    border-radius: 10px;
    margin-top: 20px;
  }

  .about-descr {
    display: flex;
    flex-direction: column;
    margin-top: 29px;
  }

  .about {
    padding-bottom: 15px;
    font-size: 14px;
    color: #767272;
  }

  .about-text {
    color: black;
    padding-left: 5px;
  }

  .modal-price {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3b3e66;
  }

  .price {
    padding-bottom: 23px;
    font-size: 36px;
    font-weight: bold;
  }

  .modal-str-text {
    font-size: 14px;
    color: #3b3e66;
  }

  .txt-price {
    font-weight: bold;
    color: #3b3e66;
  }
}
