.search-banner {
  width: 287px;
  height: 108px;
  background: #ffffff;
  border: 1px solid #e2e2e2;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: none;

  .search-content {
    display: flex;
    padding: 14px 0 0 18px;
  }

  .block-search input {
    width: 70%;
  }

  .footer-banner {
    background: #edf3ff;
    border-radius: 0px 0px 5px 5px;
    margin-top: 10px;
  }
}