.card-btn {
  margin-top: 31px;
  padding: 13px 26px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  background-color: #0e49b5;
}

.color-txt-info {
  color: #767272;
  font-size: 14px;
}
